#programa {
    margin-bottom: 6.25rem;
}

.filter {
    max-width: 90rem;
    margin: 0 auto;
    position: relative;
}

.filter-title {
    display: none;
}

@media (min-width: 80rem) {
    .filter-title {
        display: block;
        position: absolute;
        transform: rotate(-90deg);
        top: -1rem;
        left: 0;
        width:33.125rem;
        height: 30rem;
        z-index: -1;
    }
    .filter-title::before {
        display: inline-block;
        position: absolute;
        top: -3rem;
        left: -3rem;
        width: 30rem;
        height: 10rem;
        background: hsl(0, 79%, 57%);
        content: '';
        z-index: -1;
    }
    .filter-title h2 {
        display: inline-block;
        position: relative;
        padding: 0 1rem;
        background: hsl(0, 0%, 0%);
        font-size: 7.5rem;
        line-height: 9rem;
        color: hsl(0, 0%, 100%);
        font-weight: 700;
        font-family: "Stolzl Display", sans-serif;
        width: fit-content;
    }
}

.filter-rapper{
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-top: 6.25rem;  
    border: solid 1px hsl(0, 0%, 100%);
}

@media (min-width: 63.75rem) {
    .filter-rapper{
        margin: 0 1rem;
        display: flex;
        flex-direction: row;
        max-width: 100%;
        margin-top: 6.25rem;
    }
}

@media (min-width: 80rem) {
    .filter-rapper{
        margin-left: 15rem;
        width: 80%;
    }
}

.normal-filter {
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media (min-width: 63.75rem) {
    .normal-filter {
        width: auto;
    }
}

.extra-filter {
    display: flex;
    flex-direction: row;
    background-color: black;
    border-top: solid 1px hsl(0, 0%, 100%);
}

@media (min-width: 63.75rem) {
    .extra-filter {
        border: transparent;
    }
}

.filter-atributes {
    display: flex;
    flex-direction: row;
    border: solid 1.25px hsl(0, 0%, 100%);
    border-top: transparent;
    border-bottom: transparent;
    height: 3.75rem;
    padding: 0 1.25rem;
}

.extra-filter .filter-atributes:nth-child(1) {
    border-right: transparent;
}

.extra-filter .filter-atributes:nth-child(2) {
    border-right: transparent;
}

.filter-atributes:hover {
    background-color: hsl(0, 0%, 100%);
}

.filter-atributes:hover a {
    color: hsl(0, 0%, 0%);
}

.filter-atributes:hover img {
    filter: none;
}

.extra-filter .filter-atributes:nth-child(1):hover img {
    filter: brightness(0) invert(1);
}

.filter-atributes:nth-child(2) {
    background-color: hsl(0, 0%, 100%);
}

.extra-filter .filter-atributes:nth-child(2) {
    background-color: hsl(0, 0%, 0%);
}

.filter-atributes:nth-child(2) img {
    filter: none;
}

.filter-atributes:nth-child(2) a {
    color: hsl(0, 0%, 0%);
}

.extra-filter .filter-atributes:nth-child(1):hover {
    background-color: hsl(0, 0%, 0%);
}

.filter-atributes:nth-child(5):hover {
    background-color: hsl(0, 0%, 0%);
}

.filter-atributes a {
    display: none;
}

@media (min-width: 80rem) {
    .filter-atributes a {
        display: block;
        text-decoration: none;
        color: hsl(0, 0%, 100%);
        margin: auto 0;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.25rem;
        font-family: "Stolzl", sans-serif;
    }
}

.filter-atributes img {
    filter: brightness(0) invert(1);
    height: 1.25rem;
    margin: auto 0;
}

@media (min-width: 80rem) {
    .filter-atributes img {
        padding-right: 1rem;
    }
}

.filter-atributes p {
    color: hsl(0, 0%, 100%);
    margin: auto 0;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25rem;
    font-family: "Stolzl", sans-serif;
}

.filter-atributes input {
    height: 1.25rem;    
    margin: auto 0;
    margin-right: 1rem;
}

.filter-atributes input[type=checkbox] {
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
}

.filter-atributes label {
    position: relative;
}

.filter-atributes label:before {
    content: '';
    border: 1px solid hsl(0, 0%, 100%);
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 1rem;
    margin-right: 1rem;
    display: inline-block;
}
  
.filter-atributes label:after {
    content: '';
    background: hsl(0, 0%, 100%);
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    top: 1.05rem;
    left: 0.05rem;
    transition: 300ms;
    opacity: 0;
}
  
.filter-atributes input:checked+label:after {
    opacity: 1;
}

.filter-atributes:last-child {
    border-left: none;
}

@media (min-width: 80rem) {
    .filter-atributes:last-child {
        border-left: none;
    }
}

.filter-atributes:nth-child(5) {
    border-right: none;
    padding-right: 1rem;
}

@media (min-width: 80rem) {
    .filter-atributes:nth-child(5) {
        padding-right: 0;
    }
}

.filter-categorie {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3.125rem;
    padding-left: 1rem;
    max-width: 100%;
}

@media (min-width: 26rem) {
    .filter-categorie {
        padding: 3.125rem;
    }
}

@media (min-width: 42rem) {
    .filter-categorie {
        height: 40rem; 
    }
}

@media (min-width: 62rem) {
    .filter-categorie {
        height: 35rem; 
    }
}

.filter-atributes-categorie {
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media (min-width: 42rem) {
    .filter-atributes-categorie {
        width: 50%;
    }
}

.filter-atributes-categorie:nth-child(10) {
    flex-direction: column;
}

@media (min-width: 26rem) {
    .filter-atributes-categorie:nth-child(10) {
        flex-direction: row;  
    }
}

.filter-atributes-categorie a {
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-family: "Stolzl", sans-serif;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    padding-left: 1.25rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
}

.filter-atributes-categorie a:hover {
    text-decoration: underline;
}

.filter-atributes-categorie img {
    filter: brightness(0) invert(1);
    width: 1.25rem;
    height: 1.875rem;
}

.filter-categorie-rapper {
    margin: 0 1rem;
    max-width: 100%;
    border: solid 1.25px hsl(0, 0%, 100%);
    position: relative;
}

@media (min-width: 80rem) {
    .filter-categorie-rapper {
        margin-left: 15rem;
        width: 80%;
    }
}

.filter-holder:hover {
    background-color: hsl(0, 79%, 57%);
}

.filter-holder:hover img {
    filter: none;
}

.filter-holder img {
    height: 1.125rem;
    filter: brightness(0) invert(1);
}

.filter-holder {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
}

#rasterButton-holder{
    right: 3.125rem;
}

#rasterButton img {
    right: 3.125rem;
}

.filter-search {
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    border: solid 1px hsl(0, 0%, 100%);
    border-top: transparent;
    width: fit-content;
    height: 3.5rem;
}

@media (min-width: 80rem) {
    .filter-search {
        margin-left: 15rem;
    }
}

.filter-search input {
    width: 14rem;
    background-color: transparent;
    border: transparent;
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
    font-weight: 300;
    font-family: "Stolzl", sans-serif; 
    line-height: 1.125rem;
    padding-left: 1rem;
}

@media (min-width: 40rem) {
    .filter-search input {
        width: 31.25rem;
    }
}

.filter-search input::placeholder {
    color: hsl(0, 0%, 100%);
    font-size: 0.938rem;
    font-weight: 300;
    font-family: "Stolzl", sans-serif; 
    line-height: 1.125rem;
    padding-left: 1rem;
}

.filter-search img {
    filter: brightness(0) invert(1);
    padding: 1rem 1.5rem;
}

.filter-search img:hover {
    filter: none;
    background-color: hsl(0, 79%, 57%);
}

.normal-filter .filter-atributes {
    width: 100%;
}

@media (min-width: 63.75rem) {
    .normal-filter .filter-atributes {
        width: auto;
    }
}